#hideDiv{
    background-color:aliceblue;
    border-radius: 20px;
    border: 2px solid black;
    width:30%;
    text-align: center;
    margin:10% auto;
    display:block;
}
.emailList{
    list-style-type: none;
}
#showDiv{
    width:50%;
    margin:10% auto;
    border-radius: 15px;
    border: 2px solid black;
    display: none;
    padding: 10px;
} 
#error{
    height:20px;
    color:red;
}