.container{
    background-color:white;
    display:flex;
    width:90%;
    margin:auto;
}
.Maincontainer{
    background-color:black;
}
.image{
    height:100%;
    width:30%;
}
.formcontainer{
    width:90%;
    margin:20px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 50px;
}
.inputcontainer{
    display:flex;
    align-items: center;
}
.userdetail{
    width:100%;
    margin-bottom: 20px;
}
.userdata{
    padding-bottom:13px;
}
.inputfield{
    width:90%;
    border-radius:6px;
    border:1px solid #efefef;
    outline:none;
    padding:20px;
    background-color: white;
    font-size: 17px;
}
#donate{
    padding:30px 0px 30px 0px;
}
.preference{
    padding-left:275px;
    font-size:15px;
}
a{
    color:black;
    font-weight: normal;
}
.paymentMode{
    padding-left: 40px;
}
#payDetail{
    margin-top: 10px;
}
input[type=range]{
    -webkit-appearance: none;
    width:95%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    border: none;
    border-radius: 3px;
    background: -webkit-linear-gradient(left,#329e5e,#329e5e 50%, #efefef 50%);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image:url(../image/rangeSlider.png);
    background-size: 100%;
    background-color:#329e5e;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    margin-top:-8px;
}
input[type=range]:focus {
    outline: none;
}
input[name="payment"] {
	accent-color: green;
}
.button{
    width:46%;
    height:45px;
    border-radius:6px;
    border:2px solid #efefef;
    font-weight: bold;
}
.formEnd{
    margin:50px 30px 20px 824px;
}
#subColor{
    background-color:#329e5e;
    color:white;
}
#resetColor{
    background-color: white;
    color:grey;
}
.required{
    color:red;
}
.fontDetail{
    font-weight: bold;
}
