.noBullet{
    list-style-type: none;

}
.container{
    margin:10% auto;
    background-color: rgb(93, 160, 109);
    width:40%;
    border:2px solid black;
    color:white;
    font-size: 30px;
    border-radius: 20px;
}
#result{
    height:5%;
}